body {
  background-color: white;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.bottom-container {
  background-color: black;
}

.middle-container {
  background-color: black;
}

.calss1 {
  background-color: black;
  padding-top: 100px;
}

.pro {
  text-decoration: underline;
}
h1 {
  line-height: 2;
  font-size: 562.5%;
  margin: 50px auto 0 auto;
  /* 16px = 100% = 1em */
  /* em -inherited but rem(root em) is not inherited*/
  color: white;
  font-family: 'Sacramento', cursive;
}

p {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-weight: normal;
  font-size: 2.5rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: white;
/*  margin: 50px auto 0 auto;*/
  font-family: 'Montserrat', sans-serif;
}

.ffont {
  background-color: black;
  position: relative;
  width: 50%;
  margin: 0 auto;
}

.top-cloud {
  margin-left: 500px;
}

.bottom-cloud {
  position: absolute;
}

.pro {
  border-radius: 300px;
  /*  background: white;
  padding: 5px;*/
  width: 300px;
  height: 250px;
}

.img2{
  height: 159px;
  width: 318px;
}
